@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Nunito';
}

.container {
  margin: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

section.head {
  background: #d4c672;
  background: linear-gradient(333deg, #d4b672 25%, #e4d2a6 86%);
}

ul li {
  list-style-type: square;
}

a {
  color: #3182ce;
  text-decoration: underline;
}

footer {
  background: #0f0f0f;
  background: linear-gradient(333deg, #0f0f0f 17%, #3c3b3c 80%);
}
